@tailwind base;
@tailwind components;
@tailwind utilities;

#plasmo-shadow-container {
    position: absolute !important;
    right: 0px;
}

/* #plasmo-inline {
    position: absolute !important;
    right: 0px;
} */